<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/> 
<title>Fifa 18 - Dados dos Jogadores</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="style.css" rel="stylesheet"/>
</head>
		<body>	
			<div class="container">
				<div class="jumbotron" align="center" style="margin-top: 50px;">
		            <h1>Jogadores - Fifa 2018</h1>
		        </div>
				
				<br/><br/>
				
				<div class="card" >
<!-- 			        <div class="card-hero" > -->
<!-- 			          <img th:src="${player.photo}"  /> -->
<!-- 			        </div> -->
			        <div class="card-bar">
			          <div class="card-club">
			            <img th:src="${player.club.logo}" th:alt="${player.club.name}" />
			          </div>
			          <div class="card-name"  th:title="${player.name}">
			            <h3 th:text="${player.name}"> </h3>
			          </div>
			          <div class="card-rating">
			            <h1 th:text="${player.overall}"></h1>
			          </div>
			        </div>
			        <div class="card-stats">
			          <table class="stats-player">
			            <tbody>
			              <tr>
			                <td>Nome Completo:</td>
			                <td><span th:text="${player.fullName}"></span> </td>
			              </tr>
			              <tr>
			                <td>Idade</td>
			                <td><span th:text="${player.age}"></span> </td>
			              </tr>
			              <tr>
			                <td>Pé principal</td>
			                <td><span th:text="${player.preferredFoot}"></span></td>
			              </tr>
			              <tr>
			                <td>Altura(cm)</td>
			                <td><span th:text="${player.height}"></span></td>
			              </tr>
			               <tr>
			                <td>Peso(kg)</td>
			                <td><span th:text="${player.weight}"></span></td>
			              </tr>
			              <tr>
			                <td>Nacionalidade</td>
			                <td><span th:text="${player.nation.name}"></span></td>
			              </tr>
			              <tr>
			                <td>Preço(EUR)</td>
			                <td><span th:text="${player.eurPrice}"></span></td>
			              </tr>
			            </tbody>
			          </table>
			        </div>
			      </div>
		      </div>
</body>
</html>
